*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

.container{
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
}

header{
    position: fixed;
    z-index: 11;
    width: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 1px 0px #091E424F;
    box-shadow: 0px 3px 5px 0px #091E4233;
    margin-bottom: 92px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 180px 16px 130px;
}

.header__container .logo img{
    width: 186px;
    height: 60px;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    margin-right: 40px;
}

.nav-list .nav ul{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-list .nav ul li{
    list-style: none;
    margin-right:4opx ;
}


.nav-list .nav ul li a{
    display: flex;
    align-items:  center;
    gap:8px ;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #494961;
}

.nav-list .nav ul li a img{
    width:24px ;
    height: 24px;
}

.nav-list .nav ul li a .home{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #405741;
} 

.nav-list .links{
    display: flex;
    gap: 24px;
}

.nav-list .links a img{
    width:32px;
}

.hero__container{
    margin: auto;
    background-image: url("../images/background.png");
    width:1440px;
    height: 540px;
    position: relative;
    padding-top: 92px;
}

.hero__container .hero-info h1{
    font-size: 52px;
    font-weight: 600;
    line-height: 78px;
    text-align: left;
    color: #121216;
    margin-bottom: 8px;
    width: 689px;
}

.hero__container .hero-info {
    padding-left: 135px;
    padding-top: 139px;
}

.hero__container .hero-info h4{ 
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #494961;
    margin-bottom:56px ;
}

.hero__container .hero-info button{
    border: none;
    width:220px;
    height: 48px;
    padding: 10px 16px 10px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #405741;
    color: white;
    padding: 12px 49px;
    cursor: pointer;

    transition: all 0.5s;
}

.hero__container .hero-info button:hover{
    background-color: #042206;
}

.wrapper__container{
    padding-top:80px ;
    padding-bottom: 80px;
}

.wrapper__container .colours{
    display: flex;
    align-items: center;
    /* gap: 24px; */
    justify-content: space-between;
}

.wrapper__container .colours .colour{
    background-color: #FFEEF4;
    width:278px;
    height:160px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.wrapper__container .colours .colour:hover{
    transform: scale(1.1);
}

.wrapper__container .colours .paraben{
    background-color: #E8FBFF;
    width:278px;
    height:160px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.wrapper__container .colours .paraben:hover{
    transform: scale(1.2);
}

.wrapper__container .colours .vegan {
    background-color:#E5FFF1;
    width:278px;
    height:160px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.wrapper__container .colours .vegan:hover{
    transform: scale(1.2);
}

.wrapper__container .colours .colour-2 {
    background-color:#EFEFFE;
    width:278px;
    height:160px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.wrapper__container .colours .colour-2:hover{
    transform: scale(1.2);
}

.cards__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.cards__container .first-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(58, 131, 128);
    padding: 7px 18px;
    border-radius: 5px;

    transition: all 1s;
}

.cards__container .first-card:hover{
    transform: scale(1.1);
}

.cards__container .first-card .info h3{
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    text-align: left;
    color: white;
    width: 333px;
}

.cards__container .first-card .info p{
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: white;
    margin-bottom: 28px;
}

.cards__container .first-card .info .buy{
    width: 156px;
    height: 44px;
    top: 169px;
    left: 3px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #9ACB6B;
    cursor: pointer;

    transition: all 0.5s;
}

.cards__container .first-card .info .buy:hover{
    background-color: #416f17;
}

.cards__container .second-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(33, 149, 227);
    padding: 7px 18px;
    border-radius: 5px;
    cursor: pointer;

    transition: all 1s;
}

.cards__container .second-card:hover{
    transform: scale(1.1);
}

.cards__container .second-card .tooth{
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    text-align: left;
    color:#121216;
    width: 333px;
}

.cards__container .second-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #121216;
    margin-bottom: 28px;
}

.cards__container .second-card .buy2{
    width: 156px;
    height: 44px;
    top: 169px;
    left: 3px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #405741;
    cursor: pointer;

    transition: all 0.5s;
}

.cards__container .second-card .buy2:hover{
    background-color: #303d31;
}

.texts .trending{
    margin-top: 120px;
    margin-bottom: 4px;
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    text-align: center;
    color: #091E42;
}

.texts .top{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color:#172B4D;
    margin-bottom: 80px;
}

.products__container .products-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 120px;
}

.products__container .products-wrapper .dental{
    border: 1px solid #DCDFE4;
    border-radius: 16px;
    width: 279px;
    height: 424px;
    padding: 16px;
    gap: 16px;

    transition: all 1s;
}

.products__container .products-wrapper .dental:hover{
    transform: scale(1.1);
}

.products__container .products-wrapper .dental .eco{
    width: 247px;
    height: 220px;
    margin-bottom: 16px;
}

.products__container .products-wrapper .dental .about-dental{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #121216;
    margin-bottom: 16px;
}

.products__container .products-wrapper .dental .prices{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.products__container .products-wrapper .dental .prices .new-price{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color:black;
}

.products__container .products-wrapper .dental .prices .old-price{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #8590A2;
}

.products__container .products-wrapper .dental .add{
    display: flex;
    align-items: center;
    justify-content: center;
    width:247px;
    height:44px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px;
    color: white;
    background-color: #405741;

    transition: all 0.5s;
}

.products__container .products-wrapper .dental .add:hover{
    background-color: #343f34;
}

.pure-blis__container{
    display: flex;
    align-items: center;
    position: relative;
    width: 1185px;
    height: 444.38px;
    margin-bottom: 120px;
    border-radius: 24px;
    background: no-repeat;
    background-size: cover;
    background-image:url("../images/dental_background.jpg")
}

.pure-blis__container .pure-blis-info{
    position: absolute;
    top: 53px;
    right: 50px;
    padding-left: 705px;
}

.pure-blis__container .pure-blis-info h2{
    width: 559px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    color: #000000;
}


.pure-blis__container .pure-blis-info p{
    padding-top: 14px;
    padding-bottom: 44px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #000000;
}

.pure-blis__container .pure-blis-info button{
    border: none;
    width:220px;
    height: 48px;
    padding: 10px 16px 10px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #405741;
    color: white;
    padding: 12px 49px;
    cursor: pointer;

    transition: all 0.5s;
}

.pure-blis__container .pure-blis-info button:hover{
    background-color: #1f3721;
}

.testimonial__container{
    background-color: #E9F8EF;
    padding: 94px 20px;
    margin-bottom: 120px;
}

.testimonial__container h2{
    width: 559px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    align-items: center;
    color: #000000;
    margin-left: 460px;
}

.testimonial__container .t-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color:#172B4D;
    margin-bottom: 80px;
}

.testimonial__container .testimonials-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial__container .testimonials-info .courtney-henry{
    background-color: white;
    width: 385px;
    height: 234px;
    padding: 24px;
    gap: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px #091E424F;

    box-shadow: 0px 3px 5px 0px #091E4233;

}

.testimonial__container .testimonials-info .courtney-henry p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#121216;
    margin-bottom: 40px;
}

.testimonial__container .testimonials-info .image{
    display: flex;
    align-items: center;
    gap: 19px;
}

.testimonial__container .testimonials-info .image .c-img{
    width: 50px;
    height: 50px;
    border-radius: 4px ;
}

.testimonial__container .testimonials-info .image .two-icons img{
    margin-left: 70px;
}

.testimonial__container .testimonials-info .name h5{
    width: 126px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #121216;
    margin-bottom: 4px;
}

.testimonial__container .testimonials-info .name{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #A8A9B2;
}

.testimonial__container .carousel img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 500px;
}

.footer__container .footer-wrapper{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.footer__container .footer-wrapper .first-section{
    display: flex;
    flex-direction: column;
}

.footer__container .footer-wrapper .first-section .footer-logo img{
    width: 227px;
    height: 74px;
    margin-bottom: 16px;
}

.footer__container .footer-wrapper .first-section .footer-text{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#091E42;
    width: 490px;
    margin-bottom: 38px;
}

.footer__container .footer-wrapper .first-section .social{
    width: 281px;
    height: 43.66px;
}

.footer__container .footer-wrapper .second-section {
    display: flex;
    flex-direction: column;
}

.footer__container .footer-wrapper .second-section .quick-links{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: #091E42;
    margin-bottom: 24px;
}

.footer__container .footer-wrapper .second-section .story{
    list-style: none;
}

.footer__container .footer-wrapper .second-section .story a{
    text-decoration: none;
    opacity: 0.8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color:#091E42;
}

.footer__container .footer-wrapper .third-section{
    display: flex;
    flex-direction: column;
}

.footer__container .footer-wrapper .third-section a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color:#091E42;
    margin-bottom: 24px;
}

.footer__container .footer-wrapper .third-section .inputs .form .input{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#8590A2;
    border:1px solid #DCDFE4;
    padding: 16px;
}

.footer__container .footer-wrapper .third-section .inputs .form button{
    width:101px;
    height:56px;
    padding:16px;
    gap: 8px;
    border: none;
    border-radius:0px 8px 8px 0px;
    color: white;
    background-color: #405741;
    cursor: pointer;

    transition: all 0.5s;
}

.footer__container .footer-wrapper .third-section .inputs .form button:hover{
    background-color: #323a33;
}

